/* GENERAL */
html {
    font-size: 65%;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(29, 31, 32);
    color: hsl(0, 0%, 90%);
    box-sizing: content-box;
}

header {
    background-image: linear-gradient(to bottom, rgba(49, 131, 80, 0.5), rgba(78, 44, 16, 0.5)),url("../img/banniere.jpg");    
}

#titreSlide {
    color: hsl(28, 79%, 45%);
    text-shadow: 0px 1px 10px hsla(36, 100%, 43%, 0.74) ;
    text-align: center;
}
#btnSign {
    background-color: hsl(32, 87%, 52%);
    border: 2px solid hsla(34, 91%, 38%, 0.877);
    box-shadow: 0px 1px 10px hsla(36, 100%, 43%, 0.74) ;
    border-radius: 10px;
}
#btnSign:hover {
    background-color: hsl(17, 82%, 53%);
    border: 2px solid hsl(17, 51%, 48%);
    box-shadow: 0px 1px 10px hsl(17, 51%, 48%);
}
footer {
    background-image: url(../img/footer.png);
    max-width: 100vw;
    margin-top: 20px;
}
.separateur {
    width: 100%;
}
.titre_page {
    text-align: center;
    color: hsl(157, 75%, 40%);
    text-shadow: 0px 3px 3px hsl(0, 0%, 0%);
}
#article {
    
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4822128680573792) 0%, rgba(0, 0, 0, 0.37) 50%, rgba(0,0,0,0) 100%); 
    border-top: solid 3px hsl(0, 3%, 38%);
    margin: 2vw;
}
#horodate {
    color: hsl(157, 68%, 67%);
}

/* PROFIL */

#userProfil > h2 {
    color: hsl(157, 75%, 40%);
    text-shadow: 0px 3px 3px hsl(0, 0%, 0%);
}

.badge-danger {
    background-color: hsl(177, 75%, 22%)!important;
}
.badge-warning {
    background-color: hsl(17, 75%, 28%)!important;
}

.badge-info {
    background-color: hsl(340, 71%, 28%)!important;
}
/* FIN GENERAL */

/* supérieur à tel 768px */
@media (min-width : 768px) {
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vw;
    }
    header input[type="submit"] {
        width: 10vw;
        height: auto;
        border-radius: 15px;
    }
    header button {
        border-radius: 10px;
        padding: 5px;
    }
    header #div_TL {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding: 10px;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(139, 141, 139, 0.65) 49%, rgba(195, 199, 191, 0.914) 100%); 
    }
    header h1 {
        font-size: 4vw;
        margin: 0;
    }
    header .logo {
        width: 30px;
        height: 30px;
    }

    

    /* LOGIN */
    #formLogin {
        display: flex;
        align-items: center;
    }
    #formLogin input[type='email'], input[type='password'] {
        width: 10vw;
    }
    div .custom-control {
        margin-left: 10px;
        width: 7vw;
    }
    #div_login {
        padding-right: 10px;
    }

    #formLogin button {
        width: 8vw;
        font-weight: bold;
    }
    
    /* NAVBAR */
    nav {
        height: 5vw;
    }

    nav a {
        font-size: 1.5vw;
    }

    /* MAIN */
    #divWelcome {
        width: 50%;
        margin: auto;
        padding-top: 20px;
    }
    #textBvn {
        font-size: 2vw;
        color: hsl(157, 75%, 40%);
        text-shadow: 0px 3px 3px hsl(0, 0%, 0%);
        text-align: center;
        margin-bottom: 40px;
    }
    .textPres {
        font-size: 1.4vw;
        text-align: center;
        color: hsl(37, 100%, 94%);
    }
    #btnSign {
        height: 4vw;
        width: 14%;
        margin-top: 30px;
        margin-left: 43%;
    }
    button a {
        text-decoration: none;
        color: hsl(0, 0%, 90%);
        font-weight: bold;
        font-size: 2vw;

    }

    /* SLIDER PROFIL */
    #titreSlide {
        font-size: 2vw;
        margin-top: 1vw;
    }

    /* SEARCH */
    #divSearch {
        width: 60vw;
        height: auto;
        background-image: url(../img/fond_recherche.jpg);
        margin: auto;
    }
    #titreSearch {
        text-align: center;
        font-size: 1.5vw;
        padding-top: 1vw;
    }
    #formSearch {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-bottom: 1vw;
    }
    #formSearch input, select{
        align-self: center;
        font-size: 1.2vw;
    }
    #inputSearch {
        height: 5vh;
        width: 25%;
        margin-bottom: 15px;
        text-align: center;
    }
    #formSearch select {
        margin: 5px;
        text-align: center;
        width: 30%;
    }
    #btnSearch {
        margin-top: 10px;
        background-color: hsl(80, 75%, 32%);
        color: hsl(0, 0%, 90%);
        height: 5vh;
        width: 18%;
        font-size: 1.5vw;
        border-radius: 20px;
    }
    #btnSearch:hover {
        background-color: hsl(78, 100%, 21%);
        box-shadow: 0px 0px 5px hsla(0, 0%, 25%, 0.658);
    }

    /* FOOTER */
    footer {
        height: 18vw;
    }

    footer h3 {
        max-width: 85vw;
        font-size: 1.5vw;
        transform: rotate(9deg) translateY(100px)
        translateX(25px);
    }

    /* ARTICLES */
    .titre_page {
        font-size: 3vw;
        margin-top: 20px;
    }
    #grid_article {
        display: grid;
        grid-template-columns: 30vw 30vw;
        justify-content: center;

    }
    #article img {
        width: 100%;
    }
    #article > h3 {
        margin-top: 15px;
        font-size: large;
        color: hsl(157, 68%, 67%);
    }

    #article > div > p {
        font-size: 1.3em;
    }

    /* PROFIL */
    #userProfil > h2 {
        font-size: 4em;
    }
    #userProfil h3 {
        font-size: 2.5em;
    }
    #userProfil p {
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    #userProfil div > button {
        width: 15em;
    }

    /* EDIT PROFIL */
    #userUpdate form {
        font-size: 1.3em;
    }
    #userUpdate form legend {
        text-align: center;
        font-size: 2em;
    }
    #userUpdate input {
        width: 75%;
    }
    #userUpdate select {
        width: 75%;
    }
    #userUpdate textarea {
        width: 75%;
    }

    /* PANEL ADMIN */
    table td {
        max-width: 15vw;
        margin: 0;
    }
    table img {
        max-width: 5vw;
        max-height: 5vw;
    }
    table a {
        margin: 5px;
    }
    table tr {
        text-align: center;
    }

    /* SUPPORT */

    #divSupp {
        display: flex;
        flex-direction: row wrap;
    }
    #formSupp {
        background-color: rgba(0, 0, 0, 0.384);
        border: solid 2px rgba(100, 100, 100, 0.486);
        padding: 10px;
    }

    #formSupp legend {
        color: hsl(157, 75%, 40%);
        text-shadow: 0px 3px 3px hsl(0, 0%, 0%);
        font-size: 2em;
    }

    #formSupp label {
        font-size: 1.3em;
        padding-top: 10px;
    }

    #formSupp button {
        background: rgb(236,8,8);
        background: linear-gradient(180deg, rgba(236,8,8,1) 0%, rgba(222,8,8,1) 50%, rgba(164,3,3,1) 100%); 
        width: 30%;
        
    }
    
    #formSupp button:hover {
        background: rgb(74,196,7);
        background: linear-gradient(180deg, rgba(74,196,7,1) 0%, rgba(77,152,5,1) 50%, rgba(26,87,2,1) 100%); 
        
    }

    .textSupp {
        color: hsla(106, 85%, 74%, 0.75);
        width: 20%;
        margin: auto;
        text-align: center;
        font-size: 1.8em;

    }
    #inputDescription {
        width: 100%;
    }
    
}
/* FIN > 768px */


/* telephone */
@media screen and (max-width: 767px){
    header {
        display: block;
        text-align: center;
    }
    header h1 {
        font-size: 10vw;
        margin: 0;
    }
    header .logo {
        width: 7%;
        height: 7%;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    header img {
        height: 40vw;
    }

    header #div_TL {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(186,186,186,0.8239496482186625) 50%, rgba(0,0,0,0) 100%);
    }

    /* LOGIN */
    #formLogin {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 70vw;
    }
    #formLogin input[type='email'], input[type='password'] {
        width: 30vw;
    }
    
    div.custom-control, button[type='submit'] {
        width: 30vw;
    }
    #div_login{
        margin: auto;
    }

    #formLogin button {
        width: 25vw;
        margin-left: 2.5vw;
        font-weight: bold;
    }

    /* NAVBAR */
    nav {
        flex-flow: row wrap;
    }
    nav > button {
        margin-bottom: 5px;
        margin-top: 5px;
        height: 5em;
        width: 4em;
    }

    /* MAIN */
    #textBvn {
        font-size: 5vw;
        color: hsl(157, 75%, 40%);
        text-shadow: 0px 3px 3px hsl(0, 0%, 0%);
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .textPres {
        font-size: 4vw;
        text-align: center;
        color: hsl(37, 100%, 94%);
    }
    #btnSign {
        height: 7vh;
        width: 40%;
        margin-top: 20px;
        margin-left: 30%;
    }
    button a {
        text-decoration: none;
        color: hsl(0, 0%, 90%);
        font-weight: bold;
        font-size: 7vw;

    }

    /* SLIDER PROFIL */
    #titreSlide {
        font-size: 7vw;
        margin-top: 10vw;
    }

    /* SEARCH */
    #divSearch {
        width: 100vw;
        height: 60vh;
        background-image: url(../img/fond_recherche.jpg);
    }
    #titreSearch {
        text-align: center;
        text-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.582);
        font-size: 5vw;
        padding-top: 6vw;
    }
    #formSearch {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    #formSearch input, select{
        align-self: center;
        font-size: 5vw;
    }
    #inputSearch {
        height: 5vh;
        width: 60%;
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }
    #formSearch select {
        margin: 15px;
        text-align: center;
        width: 60%;
    }
    #btnSearch {
        margin-top: 20px;
        background-color: hsl(80, 75%, 32%);
        color: hsl(0, 0%, 90%);
        height: 5vh;
        width: 50%;
        border-radius: 20px;
    }

    /* FOOTER */
    footer {
        height: 20vh;
        margin-top: 30px;
    }
    footer h3 {
        font-size: 4.2vw;
    }
    .incline {
        transform: rotate(9deg) translateY(30px)
        translateX(10px);
        width: 90%;
    }

    /* ARTICLE */
    .titre_page {
        font-size: 8vw;
        font-weight: bold;
        margin: 10px;
    }
    #article {
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 4vw;
    }
    #article h3 {
        font-size: 5.5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        color: hsl(157, 68%, 67%);
    }
    #article img {
        width: 100%;
    }

    /* PROFIL */

    #userProfil > h2 {
        font-size: 3em;
    }
    #userProfil h3 {
        font-size: 2em;
        text-align: center;
    }

    #userProfil p {
        font-size: 1.3em;
        margin-bottom: 20px;
    }
    #userProfil img {
        height: 35vh;
    }
    #divImgProfil {
        order: -1;
    }

    #btnEdit {
        height: 5vh;
        font-size: 1.5em;
    }

    /* EDIT PROFIL */
    #userUpdate {
        width: 100%;
        margin: auto;
    }
    #userUpdate form legend {
        text-align: center;
    }
    
    /* SUPPORT */
    #formSupp {
        background-color: rgba(0, 0, 0, 0.384);
        border: solid 2px rgba(100, 100, 100, 0.486);
        padding: 10px;
        max-width: 100vw;
    }

    #formSupp legend {
        color: hsl(157, 75%, 40%);
        text-shadow: 0px 3px 3px hsl(0, 0%, 0%);
        font-size: 1.8em;
    }

    #formSupp label {
        font-size: 1.3em;
        padding-top: 10px;
    }

    div > p.textSupp:first-child {
        display : none;
    }

    #formSupp button {
        background: rgb(236,8,8);
        background: linear-gradient(180deg, rgba(236,8,8,1) 0%, rgba(222,8,8,1) 50%, rgba(164,3,3,1) 100%); 
        width: 30%;
        
    }
    
    #formSupp button:hover {
        background: rgb(74,196,7);
        background: linear-gradient(180deg, rgba(74,196,7,1) 0%, rgba(77,152,5,1) 50%, rgba(26,87,2,1) 100%); 
        
    }

    .textSupp {
        color: hsla(106, 85%, 74%, 0.75);
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 1.7em;
        padding-top: 10px ;

    }

    #inputDescription {
        width: 100%;
    }

}
/* fin tel */